.ng-invalid.ng-touched[type ="text"]{
    border: 1px red solid;
}

.ng-valid.ng-touched[type="text"]{
    border: 1px green solid;
} 

.ng-invalid.ng-touched[type ="password"]{
    border: 1px red solid;
}

.ng-valid.ng-touched[type="password"]{
    border: 1px green solid;
} 